
.profil {
     position:fixed;
     top:50%; left:50%;
     transform:translate(-50%, -50%);
}
/* 
.home-section{
     position: relative;
     background: #f5f5f5;
     min-height: 100vh;
     width: calc(100% - 240px);
     left: 240px;
     transition: all 0.5s ease;
} */

.ordonnance {
     opacity:0.9;
     border-radius: 5px;
     font-size:13px;
     font-weight:bolder;
     text-align:center;
}

.requireds {
     color:rgb(136, 37, 230);
     background-color:rgb(221, 189, 251);
}

/* .required {
     color: #f02525;
     background-color:rgb(250, 193, 193);
} */

.no-required {
     color:#008000;
     background-color:rgb(218, 249, 218);
}

.forms {
     width:500Px;
     position:fixed;
     top:50%;
     left:50%;
     transform: translate(-50%,-50%);
     border-radius:4px;
     box-shadow:0 0 4px rgba(0,0,0,0.2);
     padding:10px 20px;
     height:300px;
}

.forms-update {
     width:400Px;
     position:fixed;
     top:50%;
     left:50%;
     transform:translate(-50%,-50%);
     box-shadow:0 0 4px rgba(0,0,0,0.2);
     padding: 20px 30px;
}

.forms-create {
     width:500Px;
     position:fixed;
     top:50%;
     left:50%;
     transform: translate(-50%,-50%);
     border-radius:4px;
     box-shadow:0 0 4px rgba(0,0,0,0.2);
     padding:10px 20px;
     height:400px;
}

.forms h3 {
     letter-spacing:3px;
     color:#262626;
     font-size:25px;
     font-family: monospace;
}

.forms h3 span {
     border-bottom:2px solid rgb(70, 70, 231);
}

.randoms {
     width:100%;
     display: flex;
     align-items:center;
     justify-content:center;
}

.random {
     width:30px;height:30px;
     font-weight:bold;
     border-radius:50%;
     font-size:14px;
     text-align:center;
     color:white;
     opacity:0.8;
}