{% extends "base.html.twig" %}
{% block title %}Création de nouveau produit{% endblock %}
{% block body %}

     {{form_start(form)}}
          <div class="d-flex align-items-center justify-content-center flex-column gap-3">
               <div class="col-sm">
                    {{form_row(form.name)}}
               </div>
               <div class="col-sm">
                    {{form_row(form.save)}}
               </div>
          </div>
     {{form_end(form)}}

{% endblock %}