{% extends "base.html.twig" %}
{% block title %} Edition {% endblock %}
{% block body %}

     {{form_start(form)}}
          <div class="row">
               <div class="col-sm">
                    {{form_row(form.name)}}
               </div>
               <div class="col-sm">
                    {{form_row(form.price)}}
               </div>
          </div>
     {{form_end(form)}}

{% endblock %}